header{
    margin-bottom: 40px;
}
header img{
    display: block;
    margin: 0 auto;
}
h1, h2{
    color: rgb(64,99,33);
}
p{
    text-align: justify;
    line-height: 1.8em;
}
#jobb{
    width: 38vw;
    float: left;
}
#bal{
    width: 60vw;
    float:left;
}
/*body{
    margin: 0;*/
#jobb img{
    width: 60%;
    display: block;
    margin: 0 auto;
}
#jobb p{
    font-style: italic;
    text-align: center;
}
footer{
    background-color:rgb(64,99,33);
    padding: 10px;
}
a{
    color: #ffff;
    padding: 10px;
    display: block;
    text-align: center;
}