header{
    margin-bottom: 40px;
}
header img{
    display: block;
    margin: 0 auto;
}
h1, h2{
    color: rgb(64,99,33);
}
p{
    text-align: justify;
    line-height: 1.8em;
}
#jobb{
    width: 38vw;
    float: left;
}
#bal{
    width: 60vw;
    float:left;
}
/*body{
    margin: 0;*/
#jobb img{
    width: 60%;
    display: block;
    margin: 0 auto;-
}
#jobb p{
    font-style: italic;
    text-align: center;
}
footer{
    background-color:rgb(64,99,33);
    padding: 10px;
}
a{
    color: #ffff;
    padding: 10px;
    display: block;
    text-align: center;
}
#turazokep{
    width: 550px;
    float: right;
    margin-left: 30px;
}
table, th, td{
    border: 2px rgb(64,99,33) solid;
    border-collapse: collapse;
}
td{
    width: 200px;
    background-image:url("forras/turacipo_vilagos.jpg");
    background-size: cover;
}
th{
    background-color: rgb(64,99,33);
    color: white;
    font-size: 22px;
    height: 60px;
    vertical-align: middle;
}
caption{
    font-variant: small-caps;
    font-size: 24px;
    font-weight: bold;
    color: rgb(64,99,33);
    text-align: left;
    margin-bottom: 20px;
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
   
    header img{
        width: 90vw;
    }

    #turazokep{
        width: 300px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 799px){

    header img{
        width: 95vw;
    }
    #jobb{
        width: 100vw;
        clear: left;
    }

    #bal{
        width: 95vw;
        clear: left;
        padding: 3px;
    }

}